html, body {
  height: 100%;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: lightgrey;
  text-decoration: underline;
}

.bg {
  background: url("book.jpg") no-repeat center center fixed;
  height: 100%;
}

.jumbotron {
  margin: 20px;
  font-size: 15px;
}
