.register {
  margin: 5px;
  border: none;
  border-radius: 8px 2px 8px 2px;
  background-color: gray;
  padding: 5px;
}
.bg {
  /* The image used */
  background-image: url("book.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
